:root
{
    --size:200px;
}
body
{
    width:100vw;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
header 
{
    position:relative;
    height:300px;
    width:100%;
}
#profilePicture
{
    border-radius: 50%;
    height:var(--size);

    border:2px solid red;
}
.imgHolder{
    width:100%;
    height:100%;
    top:0%;
    left:0%;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
}

nav
{
    width:100%;
    height:50%;
    background-color: burlywood;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom:2px solid red;
}

nav a {
    padding:20px;
}
.space
{
    width:var(--size);
}

.rightSide, .leftSide
{
    width:320px;
    padding:20px;


}
.rightSide
{
    text-align: left;

}
.leftSide
{
    text-align: right;
}

.mainTitle
{
    font-size:2em;
    text-align:center;
    margin-top: -20px;
}
@media only screen and (max-width:720px){
    :root
{
    --size:100px;
}
.rightSide, .leftSide
{
    text-align:center;
}
nav a {

 padding: 15px;
 line-height: 40px;
}
.mainTitle
{
    margin-top: -60px;
}
}