* 
{
    box-sizing:border-box;
    margin:0;
    padding:0;
    
}
ul {
    list-style: none;
}

body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


//Main header
.main-header {

    background:url(../images/uni.jpg) no-repeat center / cover;
    border-radius: 10px;
    width:100%;
    
    padding:80px;
    img {
        position: absolute;
        left:50%;
        top:100px;
        transform:translate(-50px);
        width:100px;
        border-radius: 50%;
        border:2px solid rgb(255, 255, 255);
        
    }
    
    }

    .about-me {

    
        margin:60px 10px;
        h1 {
            text-align: center;
            padding:0 10px;
        }

        .main-nav {

            position: relative;
            
            hr {
                margin:10px;
            }
          
            
            .nav-items 
            {
                
                display:flex;
                justify-content:space-evenly;
                align-items: center;
                li {
                    padding:0 10px;
        
                    a 
                    {
                        color:rgb(0, 0, 0);
                        text-decoration: none;
                        font-size:10px;
                    } 
                    a:hover {
                        
                        color:rgb(238, 16, 16);
                        
                    }
                }
               
            }
      
    }

    .bio {
        
        padding:20px;
        background-color: rgb(27, 126, 184);
        text-align: center;
        h1 {
            font-size:30px;
           
            padding-bottom:10px;
        }
        .bio-desc {
            color:white;
            padding: 0 20px 5px;
        }
    }
   
}


.cards {

    display:grid;
    gap:20px;
    padding:10px;

    grid-template-columns: repeat(1, 1fr);
}
.card {
   
    display: flex;
    flex-direction: column;
    align-items: center;
 
    width:100%;
    border-radius: 50px;
    padding:20px;
    h3 {
        padding:10px;
    }
    p
    {
        color:white;
        font-size:12px;
        padding:10px;
    }

    img {

        width:50px;
    }
    
    
}
.card-1 {
    img {
        position: absolute;
        left:76%;
        bottom:62%;
    }
    position: relative;
    background-color: darkcyan;
}
.card-2 {
    img {
        position: absolute;
        left:76%;
        bottom:62%;
    }
    position: relative;
    background-color: rgb(74, 187, 70);
}

.card-3 {
    img {
        position: absolute;
        left:76%;
        bottom:62%;
    }
    position: relative;
    background-color: darkkhaki;
}


@media only screen and (min-width:768px){
     
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }
   


}

@media only screen and (min-width:2265px){
     .main-header {
        padding:250px;
        img {
            position: absolute;
            left:50%;
            top:400px;
            transform:translate(-50px);
            width:150px;
            border-radius: 50%;
            border:2px solid rgb(255, 255, 255);
            
        }

     }
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }
}