* 
{
    box-sizing:border-box;
    margin:0;
    padding:0;
    
}
ul {
    list-style: none;
}

body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


//Main header
.main-header {

    background:url(../images/uni.jpg) no-repeat center / cover;
    border-radius: 10px;
    width:100%;
    
    padding:50px;
    img {
        position: absolute;
        left:50%;
        top:40px;
        transform:translate(-50px);
        width:100px;
        border-radius: 50%;
        border:2px solid rgb(255, 255, 255);
        
    }
    
    }

    .about-me {

    
        margin:60px 10px;
        h1 {
            text-align: center;
            padding:0 10px;
        }

        .main-nav {

            position: relative;
            
            hr {
                margin:10px;
            }
          
            
            .nav-items 
            {
                
                display:flex;
                justify-content:space-evenly;
                align-items: center;
                li {
                    padding:0 10px;
        
                    a 
                    {
                        color:rgb(0, 0, 0);
                        text-decoration: none;
                        font-size:10px;
                    } 
                    a:hover {
                        
                        color:rgb(238, 16, 16);
                        
                    }
                }
               
            }
      
    }
   
}

.cards {

    display:grid;
    gap:20px;
    padding:10px;
    grid-template-columns: repeat(1, 1fr);
}
.card {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    padding:20px;
    p{
        color:white;
        font-size:12px;
    }

    img {
        width:50px;
    }
    
    
}

.card-1 {
    background-color: darkcyan;
}
.card-2 {
    background-color: rgb(74, 187, 70);
}

.card-3 {
    background-color: darkkhaki;
}