@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Mochiy+Pop+P+One&family=Open+Sans:ital,wght@1,500&family=Public+Sans:ital,wght@1,200&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,500;1,100;1,500&display=swap');
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
.container {
    width:100%;


    padding:10px 42px 10px;
}


/*  START OF NAVIGATION */

body {
    padding:0;
    margin:0;
    font-family:'Roboto', sans-serif;
    background-color: rgb(199, 29, 63);
}

.main-navigation {
    height:100px;
    position: relative; 
    background-color: crimson;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgb(255, 255, 255);

}
.profile-image-container {

width:100%;
height:10px;
    position: relative;
}
.profile-image {

    border:3px solid white;
    box-shadow: 1px 2px 3px black;
    margin:auto;
    top:0;
    left:0;
   
    right:0;

    position: absolute;
    
    width:100px;
    border-radius: 50%;
    z-index:1;
    
}
.navigation-items {
    display:none;
}

.burger-icon {
    position: absolute;
    right:0;
    margin:20px;
    width:35px;
    filter:invert(1);
}

/*  END OF NAVIGATION */

/*  START OF FIRST HEADER */

.first-header {
    height:240px;
    width:100%;
    background:url(./images/working.jpg) no-repeat center center / cover;
    color:white;
    position: relative;
    border-bottom: 2px solid white;
    position: relative;
}

.lead {
    
    color:white;
    font-size: 1.8em;
    text-align: center;
    font-weight: 800;

    padding:6px;
    background: crimson;
    border-radius: 5px;
    box-shadow: 3px 1px 10px black;

}
.lead span {
    font-size: 0.8em;
    color:gold;
}
.sub-text {
    padding:6px;

    color:white;
    text-align: center;
    background: crimson;
    margin-top:10px;
    

}

.about-me {
    text-align:center;
    margin-top:20px;
    background-color: whitesmoke;
    padding:20px;
    border-radius: 10px;
}
.about-me img {
    margin-top:10px;
    border-radius:10px;
    width:100%;
}

/* END OF FIRST HEADER   */



/*Utilities*/


.mt-1 {
    margin-top:10px;
    
}