* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.lead {
    color:white;
    font-weight: 800;
    z-index: 2;
}
/*  START OF NAVIGATION */

body {
    padding:0;
    margin:0;
}

.main-navigation {
    height:100px;
    position: relative;
    background-color: crimson;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgb(255, 255, 255);

}
.profile-image-container {

width:100%;
height:10px;
    position: relative;
}
.profile-image {

    border:3px solid white;
    box-shadow: 1px 2px 3px black;
    margin:auto;
    top:0;
    left:0;
   
    right:0;

    position: absolute;
    
    width:100px;
    border-radius: 50%;
    z-index:1;
    
}
.navigation-items {
    display:none;
}

.burger-icon {
    position: absolute;
    right:0;
    margin:20px;
    width:50px;
    filter:invert(1);
}

/*  END OF NAVIGATION */

/*  START OF FIRST HEADER */

.first-header {
    height:240px;
    width:100%;
    background:url(./images/working.jpg) no-repeat center center / cover;
    filter: brightness(40%);
    color:white;
    position: relative;
}

.first-header .lead {


    position: absolute;
    color:black;
}
/* END OF FIRST HEADER   */
